{
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "svelteBracketNewLine": false,
  "singleQuote": false,
  "svelteSortOrder": "scripts-markup-styles",
  "svelteStrictMode": false,
  "htmlWhitespaceSensitivity": "strict"
}
